@import "mediaquery.scss";
@import "NexaBold.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:600,700');
//VARIABLES
$main-font:'Open Sans', sans-serif;
$font1:'NexaBold', sans-serif;
$font2:'Raleway', sans-serif;

$border : 1px solid;
@mixin fs{
  font-style: italic;
}
@mixin fw{
  font-weight: bold;
}
@mixin circle{
  border-radius:50%;
}
@mixin a{
  list-style: none;
  display: block;
  text-decoration: none;
}
@mixin clear{
  content: "";
  display: block;
  clear: both;
}
@mixin dib{
  display: inline-block;
}





* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
}
body{
  background-color: #24282f;
  font-family: $main-font;
}
.container-fluid{
  padding-right:200px ;
  padding-left:200px ;}
.logo-link{
  .navbar{
    .navbar-brand{

        &:hover{
          opacity:0.6;
          transition: 1s ease-in-out;
        }

    }
  }
}
//------------------===============header================-------------------------
.container-header{
  padding-bottom: 0;
.main-menu{
  .navbar{background-color: #24282f!important;
    .collapse{
       .navbar-nav{
           a{
              color: white!important;
             position: relative;
             &:hover:after{
               background-color: #b5a263;
               transition: 1s ease-in-out;
             }
             &::after{
               content: "";
               display: block;
               width:80%;
               height: 1px;
               background-color: transparent;
               position: absolute;
               top: 47px;

             }
              }

  }
}



    }

}
}
//------------================ABOUT US================------------------
.aboutUs{
  background-image: url(../images/test_light_02.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 89px;
  padding-bottom: 103px;
  font-family: $font2;
  color:white;
  h1{
    font-size: 40px;
  }
  p{
    font-size: 14px;
  }
}
.bottom{
  background-color: #2b2f35;
  padding-top: 75px;
  padding-bottom: 40px;
}
//-----------------=============WHITE SECTION===========--------------------
.white-section{

  padding-top: 154px;
  padding-bottom: 27px;
  background-color: white!important;
  .butt{
    display: block;
    margin: auto;
    padding: 16px 38px;
    border:$border;
    width: 164px;
    text-decoration: none;
    border: solid 1px #3e4146;
    -moz-border-radius-topleft: 90px;
    -webkit-border-top-left-radius: 90px;
    border-top-left-radius: 90px;
    -moz-border-radius-topright: 90px;
    -webkit-border-top-right-radius: 90px;
    border-top-right-radius: 90px;
    -moz-border-radius-bottomright: 88px;
    -webkit-border-bottom-right-radius: 88px;
    border-bottom-right-radius: 88px;
    -moz-border-radius-bottomleft: 87px;
    -webkit-border-bottom-left-radius: 87px;
    border-bottom-left-radius: 87px;
    color: #24282f;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    &:hover{
      background-color: orangered;
      transition: 1s ease-in-out;
    }
}
  p{
    text-align: center;
    font-size: 24px;
    &::after{
      content: '';
      height: 1px;
      width: 76px;
      margin: auto;
      display: block;
      background-color: #b5a263;
      margin-top: 28px;
      margin-bottom: 32px;
    }
  }
.carousel-container{
  width: 100%;
  margin-bottom: 38px;
  .container_photo {
    display: inline-block;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    &:nth-child(2) {
      margin-left: 200px;
      margin-right: 200px;
    }
    .after_photo {
      width: 300px;
      height: auto;
      margin-top: 25px;
      padding-left: 12px;
      .text {
        display: inline-block;
        font-family: $font2;
        font-size: 16px;
        color: #000;
        text-transform: uppercase;
        span {

          font-size: 14px;
          color: #b5a263;
          text-transform: capitalize;
        }
      }
      .awesome {
        float: right;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        width: 116px;
        text-align: right;

        a {
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #dedede;
          color: #ffffff;
          padding: 5px;
          padding-right: 7px;
          box-sizing: border-box;
          font-size: 14px;
          margin-left: 5px;
          &:first-child {
            padding: 5px 12px;
            &:hover {

              background-color: cyan;
              transition: 1s ease;
              transform: rotate(360deg);
            }
          }
          &:nth-child(2) {
            &:hover {
              transform: rotate(360deg);
              background-color: deeppink;
              transition: 1s ease;
            }
          }
          &:last-child {
            padding-right: 5px;
            &:hover {
              transform: rotate(360deg);
              background-color: slateblue;
              transition: 1s

            }
          }
        }
        .image {
          width: 300px;
          height: 286px;
          margin-bottom: 28px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

  }
}}
.owl-theme .owl-dots .owl-dot {
  display: none;
}
//-----------------===============WHATS OUR CLIENTS say===============-------------------
.client{
  position: relative;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 113px;
  .tittle{
    margin: auto;
    color:#24282f;
    margin-top: 120px;
    font-weight:600;
    font-size: 14px;
    font-family: $font2;
    &::after{
      display: block;
      content: '';
      width: 76px;
      height: 1px;
      background-color: #24282f;
      margin: auto;
      margin-top: 25px;
    } }
 .row{

   .owl-carousel-2{
     width: 100%;

     .person{
       width: 100%;
       .description{
         margin: auto;
         color: #000;
         height: auto;
         max-width: 600px;
         margin-bottom: 45px;
       }
       .nameOfPerson{
         font-size: 16px;
         color: #b5a263;
         text-transform: uppercase;
       }
       .job{
         font-size: 14px;
       }
       .container-photo__circle{
         width: 92px;
         height: 92px;
         margin: auto;
         text-align: center;
         border-radius: 50%;
         display: block;
         margin-top: 62px;
         margin-bottom: 35px;
         a{
          img{
            width: 100%;
            height: 100%;
          }
         }
       }
     }
   }

  }



}
.owl-theme .owl-nav [class*='owl-'] {
  color: #24282f;
  font-size: 16px;
  background: transparent;
  display: block;

}
.owl-carousel .owl-nav .owl-prev{
  position: absolute;
  top: 27%;
  left: 0;
  margin-right: 60px;
  font-size: 16px;
  &:hover{
    transition: 1s ease-in-out;
    background-color: transparent;
    color:red;
    transform: scale(3.0);

  }
}
.owl-carousel .owl-nav .owl-next{
  font-size: 16px;
  position: absolute;
  top: 27%;
  right: 0;
  margin-left: 60px;
  &:hover{
    transition: 1s ease-in-out;
    background-color: transparent;
    color:red;
    transform: scale(3.0);

  }
}

//--------------=============Container Bottom)))=============----------------------------
.bottom{
.row{
 color: #6e7279;
  .col-lg-3{
p{
  &:first-child{
    font-size: 14px;
    color:#cc9966;
    text-transform: uppercase;
    font-weight: 500;
  }
}
  }
  .col-lg-2{p{
    &:first-child{
      font-size: 14px;
      color:#cc9966;
      text-transform: uppercase;
      font-weight: 500;
    }
  }}
  .col-lg-3{
form{
  .form-group{
    .form-control{
      width: 300px;
      padding-top: 10px;
      padding-bottom: 7px;
      padding-left: 12px;
      background-color: transparent;
      border: $border  #6e7279;
      border-radius: 0;
    }
    .btn{
      width: 300px;
      padding-top: 9px;
      padding-bottom: 6px;
      text-align: center;
      background-color: #b5a263;
      color: white;
      border: $border  #6e7279;
      border-radius: 0;
      &:hover{
       opacity: 0.2;
        transition: 1s ease-out;
      }
    }
  }
}
    p{
    &:first-child{
      width: 300px;
      font-size: 14px;
      color:#cc9966;
      text-transform: uppercase;
      font-weight: 500;
    }
  }}
}
}
//===========----------============foooooter==========-------------============

.footer{
  padding-top: 20px;
  padding-bottom: 22px;
  background-color: #24282f;
  color:#6e7279;
  .foottext_left{
    font-size: 12px;
  }
  .socials{
    text-align: right;
    .contain_soc{
    a{
      color:#6e7279;
      background-color: transparent;
      padding: 5px 8px;
      border: $border #6e7279;
      border-radius: 50%;
      margin-right: 7px;
      &:nth-child(3){
        padding: 5px 6px;
      }
      &:nth-child(1){
        padding: 5px 12px;
      }
      &:hover{
        background-color: #b5a263;
       transition: 1s;
      }
    }
  }}
}